input[type=text],
select {

    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    border: 1px solid black;
    width: 80%;
}

textarea {
    margin: 5px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 4px;

}

input[type=checkbox] {
    width: auto;
    height: 4%;
    border-color: black;
}

label {
    padding: 2%;
    display: inline-block;
    border: 1px solid black;
    margin-left: 6%;
    width: 80%;
    height: 4%;
    background-color: #ccc;
    text-align: left;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 34%;
    width: 20%;
    margin-top: 2%;

}

input[type=radio] {
    border-color: black;
}

button:hover {
    background-color: aquamarine;
}

#form {
    border-radius: 5px;
    background-color: darkgrey;
    padding: 30px;
    margin: auto;
    width: 60%;
}

.coln-25 {
    float: left;
    width: 45%;
    margin-top: 6px;

}

.coln-75 {
    float: left;
    width: 55%;
    margin-top: 6px;

}

table,
td,
th,
tr {
    border: 1px solid black;
    /* width: 75%; */
}

table {
    border-collapse: collapse;
    width:80%;
    margin:auto;
}
td{
    width:10%;
    padding:2%;
}
tr{
    padding:2%;
}